@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Open+Sans+Condensed:wght@700&family=Roboto:ital,wght@0,400;0,700;0,900;1,100&display=swap');body
{
    font-family: roboto;
    display: flex;
    flex-direction: column;
    min-width: 100vh;
    padding: 0;
    flex-basis: auto;
    top: 0;
    left: 0;
    margin: 0;
}

.top
{
    top:0;
    left: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-width: 70%;
    padding: 0 15% 3%;
    background-color: #1F2937;
}

.header
{
    display: flex;
    justify-content: space-between;
    min-width: 100%;
    align-items: center;
}

.header h1
{
    font-size: 24px;
    color: #F9FAf8;
    font-weight: bold;
}

.header a, .hero h3
{
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
    font-weight: 400;
}

.header ul
{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 25px;
    align-self: flex-end;
}

.hero
{
    padding: 6% 0 6%;
    display: flex;
    gap: 40px;
    justify-content: space-between;
    min-width: 100%;
}

.hero h1
{
    top: 0;
    margin-top: 0;
    font-size: 48px;
    color: #F9FAf8;
    font-weight: 900;
}

.hero img
{
    width: 50%;
    align-self: flex-end;
    flex-shrink: 0;
}

.intro
{
    margin: 0;
    padding: 0;
}

button
{
    background-color: #3882F6;
    border: 0px;
    color: white;
    font-size: 18px;
    padding: 2% 7% 2%;
    border-radius: 5px;
}


.info
{
    display: flex;
    flex-direction: column;
    max-width: 60%;
    padding: 1% 20% 5%;
    justify-content: center;
    align-items: center;
}

.info h1
{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    align-self: center;
    padding-bottom:2%;
}

.showcase
{
    display: flex;
    justify-content: space-between;    
    align-items: center;

}

.showcase div
{
    max-width: 20%;
    display: flex;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.showcase img
{
    width: 80%;
    border-width: 10%;
    border: solid blue;
    border-radius: 10px;
    flex-shrink: 0;
}

.showcase p
{
    text-align: center;
}

.quote
{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    max-width: 60%;
    padding: 7% 20% 7%;
    justify-content: center;
    align-items: center;
}

.quote h3
{
    color: #1F2937;
    font-size: 36px;
    font-weight: 200;
    margin: 0;
}

.quote h4
{
    margin: 0;
    color: #1F2937;
    font-size: 24px;
    align-self: flex-end;
}

.cta
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
}

.call
{
    background-color:  #3882F6;
    flex: 1;
    margin: 0 11% 0;
    padding: 3% 9% 3%;
    border-radius: 10px;
    display: flex;
}

.call_text
{
    width: 100%;
    color: white;
}

.call_text h3
{
    margin: 0;
    padding: 0;
    font-size: 24px;
}

.call_text h4
{
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: lighter;
}
.call button
{
    min-width: 20%;
    color: white;
    border: solid white;
    padding: 0;
    flex: 1;
}